@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Poppins:wght@100;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
}
.navbar{
    display: flex;
    background-color: white;
}
.logo{
    display: flex;
    
    justify-content: left;
    align-items: center;
    color: white;
    margin-left: 20px;
    width:30%;
    
}
.logo img{
    width:45%;
    border: solid white;
    border-radius: 50px;
    text-align: center; 
    
}

.nav-list{
    display:inline-flex;
    width: 60%;
   
    align-items: center;
}
.nav-list li{
    list-style: none;
    padding: 26px 30px;


}
.nav-list li a{
    text-decoration: none;
    color: rgb(41, 4, 4) ;
    font-family:Poppins;
    font-size:medium;


}
.rightNav{
   
    width: 45%;
    text-align: right;
   
    padding: 26px 30px;
    
    font-family:Poppins;
    
   
    
}
.nav-list2{
    display:inline-flex;
    width: 50%;
   
    align-items: right;
    
}
.nav-list2 li{
    list-style: none;
    padding: 26px 30px;

}
.nav-list2 li a {
    text-decoration: none;
    color: rgb(41, 4, 4) ;
    font-family:Poppins;
}
/* #search{
    padding:5px;
    font-size: 17px;
    border-radius: 9px;
} */
.background{
   
    background-image: url('../img/bg.png');
    background-size:cover;
    background-repeat: no-repeat;
    /* display: flex; */
    height: 500px;
    width: 100%;
   
    box-sizing: border-box;
    /* background-position:absolute;
    right :500px; */

}
.box-main{
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;
}
.firstHalf{
    /* display: flex; */
    position:relative;
    left:350px;
    top:190px;
    font-family:Dancing script;
    font-size-adjust:calc(1);
    padding:3px;
    background-color: rgba(255, 255, 255, 0.493);
    width:100%;
    overflow: hidden;
    animation: scale_text 2s forwards ease-in;

}
@keyframes scale_text{
    0% { transform:translateX(100%)};
   100%{ transform:translateX(50%) };
  }
.secondHalf{
    position: relative;
    left:268px;
    display:list-item;
    justify-content: left;
    align-items:left;
    width:100%;
    
    
}
.container{
    font-family: poppins;
    font-style: normal;
    font-size: 50px;

    text-align: center;
    
}
.container #hc{
    background-color: rgb(249, 185, 89);
    border-radius: 9px;
}
/* .categories{
    background-color: blueviolet;
    height:900px;
    width:100%;
    display:grid;
    grid-template-rows: 250px 250px  250px ;
    grid-template-columns: 350px 350px 350px ;
    padding:20px;
    justify-content: center;
    row-gap: 0px;

}
.items{
    background-color: rgb(216, 145, 53);
    height:200px;
    width:300px;
} */
/* #background{
    z-index: -1;
    
 
} */

.nav-list li a:hover,.nav-list2 li a:hover{
    background: rgb(219, 207, 97) ;
    border-radius: 3px;
    float: left;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    
}
.nav-list li i{
    margin: 3px;
    display:inline-flex;
}
.submenu{
    float: left;
    overflow: hidden;
    /* display: none;
    z-index:-1 */
}
.subsubmenu{
    /* display: none; */
    float: left;
    overflow: hidden;
}
/* .nav-list ul li:hover{
    display: block;
    position:absolute;
    margin-top: 15px;
    margin-left: -15px;
    
}
.nav-listul li:hover{
    z-index: 0;

} */
.buttons{
    align-items: center;
}
.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  .nav-list a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(216, 145, 53);
  }
  #dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  #dropdown-content ul li a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: none;
    text-align: left;
  }
  /* #dropdown-content li a:hover {
    background-color: #ddd;
  }
  .dropdown:hover #dropdown-content {
    display: block; */
  /* } */
 .idk .Engineering{
    font-size: 16px;
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  
 }
 .text{
   
    /* background-image: url(../img/try6.jpg); */
    background-repeat: no-repeat;
    background-size:cover;
    
    height: 500px;
    width: 100%;
    
 }
 .lm{
    position: relative;
    top: 100px;
    left: 500px;
    width:50%;
    display:flex;
    align-items: center;
    margin-right:100px;
 }
 #one{
    width:50%;
    margin-top: 280px ;
    align-items: center;
    margin-right: 300px;
    background: linear-gradient(to right, #ff105f,#ffad06);
    border-radius: 30px;
    font-size: x-large;
 }
 #two{
    width:50%;
    /* padding: 0px 94px 0px 74px ; */
    margin-top: 293.5px ;
    align-items: center;
    margin-right: 300px;
    background: linear-gradient(to right, #ff105f,#ffad06);
    border-radius: 30px;
    font-size: x-large;
    text-align: center;
    
    

 }
 #ad1{
    text-align: center;
    padding-right:160px;
 }
 #ad2{
    text-align: center;
    padding-right:200px;
 }
 .outervoid{
    
    text-align: center;
    font-style:poppins;
    font-size:x-large;
    margin-top: 100px;
    /* background-color: rgba(250, 235, 215, 0.214); */
 }

 .Void{

    text-align: center;
    font-style:poppins;
    font-size:x-large;
    
    display:flex;
    position:relative;
    /* background-color: rgba(250, 235, 215, 0.214); */
   
 }
.firstW{
    width:100%;
    
 
}
.secondW{
    
    width:20%;
}

